@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Workplace advisor</h1>
    <span>Ever been curious about a company before applying for a job? Why not see what current and former employees think about it?
        Workpalce advisor intends to give employees a fully anonymous way to rate their workplace. The idea is to be beneficial in multiple ways. 
        Either for potential new recruits to get an idea of the company, 
        for potential other company's that intend a partnership or for the company itself to get valuable feedback to improve.'</span>
</div>
